<h2>My Heroes</h2>
<ul class="heroes">
  <!-- here in class.selected ,.selected take property from css file  called class binding-->
  <li *ngFor="let hero of heroes">
    <a routerLink='/detail/{{hero.id}}'></a>
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>

</div>